body {
    font-family:'Roboto', sans-serif;
    transition: background-color 0.5s, color 0.5s;
    margin: 0;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: hsl(0, 7%, 83%);
}

h1, h2{
    font-family: 'Press Start 2P', cursive;
    line-height: 1.5;
}

header {
grid-area: header;
background-color: #3c8530;
color: white;
padding: 2rem;
text-align: center;

}
.global_meny{
display: grid;
grid-template-columns: repeat(5, 1fr);
margin-top: 10px;
}

.global_meny a:link {color: rgb(245, 58, 211);}
.global_meny a:visited {color: aqua; }
.global_meny a:focus {outline: 2px solid orange;}
.global_meny a:hover {color: rgb(255, 166, 0); text-decoration: underline;}
.global_meny a:active {color: yellow;}

.global_meny a{
padding: 15px 0;
text-decoration: none;
}


#sida1{
    grid-area: main;
    display: grid;
    grid-template-rows: 10px 1fr 1fr 10px;
    margin-top: 1rem;
    text-align: center;
}
.hero-content{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;

}


#sida2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: solid black 5px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even){
    background-color: rgba(0, 0 ,0 ,0.25);
}



.border-left-top{
    border-right: solid black 5px;
    border-bottom: solid black 5px;
    display: grid;
    grid-template-columns: auto auto;
}
.border-right-top{
    border-bottom: solid black 5px;
    display: grid;
    grid-template-columns: auto auto;
}
.border-left-bottom{
    border-right: solid black 5px;
    border-bottom: solid black 5px;
    display: grid;
    grid-template-columns: auto auto;
}
.border-right-bottom{
    border-bottom: solid black 5px;
    display: grid;
    grid-template-columns: auto auto;
}
.border-bottom-left{
    border-right: solid black 5px;
    display: grid;
    grid-template-columns: auto auto;
}

footer{
    grid-area: footer;
    background-color: #3c8530;
    text-align: left;
    font-size: 0.6rem;
}
